{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
    <div class="text-center text-lg-start">
        <a href="{{path('admin_classe_home')}}" class="btn-get-started scrollto">eleve</a>
        <a href="{{path('admin_prof_home')}}" class="btn-get-started scrollto">Enseignant</a>
        <a href="{{path('admin_classe_home')}}" class="btn-get-started scrollto">classe</a>
        <a href="{{path('admin_matiere_home')}}" class="btn-get-started scrollto">matiere</a>
        <a href="{{path('admin_evaluation_home')}}" class="btn-get-started scrollto">evaluation</a>
    </div>
{% endblock %}
